.feynman__link {
  display: flex;
  position: absolute;
  font-size: 36px;
  line-height: 51px;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  transition: text-shadow 1s linear 0s;
}

.feynman__link:hover {
  text-shadow: 0 0 3px #000000;
}